* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
html body {
  background-image: linear-gradient(to top, white 75%, rgb(49, 49, 49));
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html body main {
  flex: 1;
}

.header .mi-navbar {
  background-color: #9e8e81;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header .mi-navbar .mi-boton {
  border: solid 1px #c8c8c8;
  color: #c8c8c8;
}

.footer {
  font-family: "Bebas Neue", sans-serif;
  font-size: 13px;
  letter-spacing: 5px;
  font-size: 20px;
  bottom: 1px;
  /* background-color: #181a1e; */
  background-image: linear-gradient(to right, #181a1e 50%, #9e8e81);
  display: flex;
  flex-direction: row;
}
.footer img {
  height: auto;
  width: 20%;
  margin: 10px;
}
.footer .footer-derecha {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  padding: 3rem;
  text-align: center;
  color: rgb(240, 240, 240);
}
.footer .footer-derecha ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.footer .footer-derecha a {
  text-decoration: none;
  color: rgba(160, 159, 158, 0.6705882353);
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.centro .texto-centro {
  font-family: "Bebas Neue", sans-serif;
  font-size: 13px;
  letter-spacing: 5px;
  justify-items: center;
}
.centro .texto-centro h2 {
  border: 1px solid rgba(123, 100, 49, 0.5529411765);
  width: 10em;
  border-radius: 10px;
  color: rgb(169, 168, 166);
  font-weight: 100;
  margin: 10px 1rem;
}
.centro .texto-centro h3 {
  color: rgba(105, 105, 105, 0.6705882353);
}
.centro .fila-imagenes img {
  width: 99%;
  border: 1px solid white;
  height: auto;
  border-radius: 220px 220px 10px 10px;
}
.centro .fila-imagenes .imagenes-centro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: 1s;
}
.centro .fila-imagenes .img3:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

#wpp_imagenes {
  position: fixed;
  width: 3rem;
  height: auto;
  bottom: 2rem;
  right: 2rem;
  animation: flicker-in-1 2s linear both;
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#titulo {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.fondo-cards {
  width: 80%;
  margin: auto;
}
.fondo-cards .cards {
  margin: 20px auto;
  border-top: solid 1px #4b4b4b;
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-around;
}
.fondo-cards .cards .card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 13px;
  letter-spacing: 5px;
  border: solid 1px rgb(235, 231, 231);
  text-align: start;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.fondo-cards .cards .card .imagen-centro {
  width: 100%;
  height: auto;
}
.fondo-cards .cards .card:hover {
  z-index: 10;
  transform: scale(1.08);
  transition: 1s;
  transform-origin: bottom;
  border: solid 1px black;
}

.formulario2 {
  text-align: center;
  background-color: #d7d7d7;
  width: 50%;
  height: 60vh;
  border-radius: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 13px;
  letter-spacing: 5px;
  padding: 10px;
  margin: 40px auto;
}
.formulario2 .formulairo-disenio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formulario2 .formulairo-disenio input {
  width: 50%;
}
.formulario2 .formulairo-disenio textarea {
  width: 50%;
  min-height: 60px;
}

@media (max-width: 800px) {
  body {
    margin: 10px;
  }
  .formulario2 {
    width: 80%;
  }
  .footer img {
    display: none;
  }
  .fondo-cards .cards {
    grid-template-columns: 2fr;
  }
  .centro .fila-imagenes .imagenes-centro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  body {
    margin: 10px;
  }
  .formulario2 {
    width: 80%;
  }
  .footer img {
    display: none;
  }
  .fondo-cards .cards {
    grid-template-columns: 1fr;
  }
  .centro .fila-imagenes .imagenes-centro {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
