@use "../generales/variables" as*;


.header{

  .mi-navbar{
    background-color: $marroncito;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .mi-boton
    {
        border: solid 1px #c8c8c8;
        color: #c8c8c8;
    }
  }
}


.footer {
    bottom: 1px;
    /* background-color: #181a1e; */
    background-image: linear-gradient(to right, #181a1e 50%, $marroncito);
    display: flex;
    flex-direction: row;
    

    img {
        height: auto;
        width: 20%;
        margin: 10px;
    }

    .footer-derecha {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        align-items: center;
        margin-left: auto;
        padding: 3rem;
        text-align: center;
        color: rgb(240, 240, 240);

        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #a09f9eab;
        }

    }

}