* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    height: 100%;

body {
    background-image: linear-gradient(to top, white 75%, rgb(49, 49, 49));
    background-repeat: no-repeat;
    background-size: cover;

    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        flex: 1;
    }



}
}