

@media (max-width:500px){

body{
margin:10px;
}

.formulario2{
    width: 80%;
}
.footer{

    img{
        display: none;
    }

} 

.fondo-cards .cards{
grid-template-columns:1fr;
}

.centro .fila-imagenes .imagenes-centro{
grid-template-columns:1fr;
}

}