@use "../generales/variables" as*;

.micarrito{
    width: 80%;
    margin:20vh auto;
    text-align: center;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 10px;
    @include fuente;

    .titulo-carrito {
        h1 {
            color: #000000;
            font-weight: 100;
            border: solid 1px #7b64318d;
            width: 10em;
            margin: 20px auto;
            border-radius: 10px;
        }

        h4 {
            color: #696969ab;
        }

        p {
            color: #696969ab;
        }
        a{
            text-decoration: none;
            color: $marroncito;
        }
    }
}

