@use "../generales/variables" as*;

.fondo-cards {
    width: 80%;
    margin: auto;

    .cards {
        margin: 20px auto;

        border-top: solid 1px #4b4b4b;
        padding: 15px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: space-around;

        .card {
            display: flex;
            flex-direction: column;
            padding: 5px;
            color: #000000;
            @include fuente;


            border: solid 1px rgb(235, 231, 231);
            text-align: start;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            .imagen-centro {

                width: 100%;
                height: auto;
            }
            .mi-boton {
                border: solid 1px #cdc7c7;
                color: #976565;

                &:hover {
                border: solid 2px #1b1a1a;
                
                color: #b21919;

            }
            }
            


        }

        .card:hover {

            z-index: 10;
            transform: scale(1.02);
            transition: 0.2s;
            
            transform-origin: bottom;
            border: solid 1px black;

        }
    }
}
// SECTION IMG CARRITO

.carrito{
    @include img-fija;
    animation: none;
}
